# Packages #
############
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Extra Crap #
##############
*.py[cod]
*.cfg
*.pid
*.txt
*~

# Folders To Ignore #
#####################
__pycache__/
dl/
